{% extends 'main.html' %}

{% block content %}

<div class="user-profile-header">
    <input type="image"  class="user-profile-image" src="{{ user_profile.logo.url }}" />
    <p>
        <b class="user-profile-username">{{ request.user }}</b>
        <a href=""><button>Edit profile</button></a>
        <button onclick="" class="dropbtn user-profile-settings-dropbtn">Settings</button>
    </p>

    <p class="user-profile-posts-followers-following">{{ my_posts_amount }} posts 0 followers 0 following</p>
</div>

<hr class="user-profile-hr">

<div class="user-profile-posts-saved-tagged">
    <a href="{% url 'user_profile' request.user %}">POSTS</a>
    <a href="{% url 'user_profile_saved' request.user %}">SAVED</a>
    <a href=""><b>TAGGED</b></a>
</div>

{% endblock %}