{% extends 'main.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="user-profile-header">
    <img src="{{ user_profile.logo.url }}" class="user-profile-image"/>
    
    <p>
        <b class="user-profile-username">{{ request.user }}</b>
        <a href="{% url 'accounts_edit' %}"><button>Edit profile</button></a>

        <button onclick="profileSettings()" class="dropbtn user-profile-settings-dropbtn">Settings</button>

        {% include 'dropdowns/profile_settings.html' %}
    </p>

    <p class="user-profile-posts-followers-following">{{ my_posts_amount }} posts 0 followers 0 following</p>
    <div class="users-bio">{{ user_profile.bio }}</div>
</div>

<hr class="user-profile-hr">

<div class="user-profile-posts-saved-tagged">
    <a href="{% url 'user_profile' request.user %}">POSTS</a>
    <a href=""><b>SAVED</b></a>
    <a>TAGGED</a>
</div>

<div class="user-saved-posts">
    <div class="user-profile-posts-grid">
        {% for post in saved_objs %}
            <!-- DROPDOWN OWNER'S POSTS OPTIONS -->
            {% include 'dropdowns/post_options.html' %}

            {% include 'dropdowns/post_delete.html' %}

            {% include 'dropdowns/post_edit.html' %}

            <!-- DROPDOWN OTHER POST OPTIONS -->
            {% include 'dropdowns/post_options2.html' %}

            <!-- POST COMMENTS -->
            <input type="image" onclick="hidePopupFunc(); postCommentsFunc('{{ post.id }}')" class="dropbtn user-profile-post-comments-dropbtn" src="{{ post.image.url }}" />
            
            {% include 'dropdowns/post_comments.html' %}

            {% include 'dropdowns/users_who_liked_post.html' %}

        {% endfor %}
    </div>
</div>

{% endblock %}