{% extends 'main.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

{% if user == request.user %} <!-- current user profile -->

<div class="user-profile-header">

    <img src="{{ user_profile.logo.url }}" class="user-profile-image"/>
    
    <p>
        <b class="user-profile-username">{{ request.user }}</b>
        <a href="{% url 'accounts_edit' %}"><button>Edit profile</button></a>

        <button onclick="profileSettings()" class="dropbtn user-profile-settings-dropbtn">Settings</button>

        {% include 'dropdowns/profile_settings.html' %}
    </p>

    <p class="user-profile-posts-followers-following">{{ my_posts_amount }} posts 0 followers 0 following</p>
    <div class="users-bio">{{ user_profile.bio }}</div>
</div>

<hr class="user-profile-hr">

<div class="user-profile-posts-saved-tagged">
    <a href=""><b>POSTS</b></a>
    <a href="{% url 'user_profile_saved' request.user %}">SAVED</a>
    <a>TAGGED</a>
</div>



<div class="user-profile-posts">
    <div class="user-profile-posts-grid">
        {% for post in posts %}
            {% if post.user == request.user %}
                <!-- DROPDOWN OWNER'S POSTS OPTIONS -->
                {% include 'dropdowns/post_options.html' %}

                {% include 'dropdowns/post_delete.html' %}

                {% include 'dropdowns/post_edit.html' %}

                <!-- POST COMMENTS -->
                <input type="image" onclick="hidePopupFunc(); postCommentsFunc('{{ post.id }}')" class="dropbtn user-profile-post-comments-dropbtn" src="{{ post.image.url }}" />
                
                {% include 'dropdowns/post_comments.html' %}

            {% endif %}

            {% include 'dropdowns/users_who_liked_post.html' %}

        {% endfor %}
    </div>
</div>



{% else %} <!-- other users profile -->



<div class="user-profile-header">

    <img src="{{ user_profile.logo.url }}" class="user-profile-image"/>
    
    <p>
        <b class="user-profile-username">{{ user }}</b>

        <button class="user-profile-message-dropbtn">Message</button>
        <button class="user-profile-message-dropbtn">Follow</button>
        <button class="user-profile-message-dropbtn">^</button>
        <button onclick="otherProfileOptionsFunc()" class="dropbtn">...</button>

        {% include 'dropdowns/other_profile_options.html' %}

    </p>

    <p class="user-profile-posts-followers-following">{{ my_posts_amount }} posts 0 followers 0 following</p>
    <div class="other-users-bio">{{ user_profile.bio }}</div>
</div>

<hr class="user-profile-hr">

<div class="other-user-profile-posts-saved-tagged">
    <a href=""><b>POSTS</b></a>
    <a>TAGGED</a>
</div>

<div class="user-profile-posts">
    <div class="user-profile-posts-grid">
        {% for post in posts %}
            {% if post.user == user %}
                <!-- DROPDOWN OWNER'S POSTS OPTIONS -->
                {% include 'dropdowns/post_options2.html' %}

                <!-- POST COMMENTS -->
                <input type="image" onclick="hidePopupFunc(); postCommentsFunc('{{ post.id }}')" class="dropbtn user-profile-post-comments-dropbtn" src="{{ post.image.url }}" />
                
                {% include 'dropdowns/post_comments.html' %}

            {% endif %}

            {% include 'dropdowns/users_who_liked_post.html' %}

        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}