<div class="dropdown">
    <div id="showMyFollowersDropdownId" class="dropdown-content hide">
        <div onclick="hidePopupFunc()" class="x1ey2m1c xds687c xixxii4 x17qophe x13vifvy x1h0vfkc"></div>
        <div class="show-follow-dropdown-content">
            <p><b>Followers</b></p>
            <hr>
            <div class="follows-list">
                {% for follower in my_followers %}
                    <div style="height: 60px;">
                        <a href="{% url 'user_profile' follower %}">
                            <img src="{{ follower.userprofile.logo.url }}" class="follows-logo"/>
                            <a class="show-follow-follower" style="text-decoration: none;"><b>{{ follower }}</b></a>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="follower" value="{{ follower.id }}"/>
                                <button type="submit" class="follow-btn" name="unfollow-follower-form"><b>Remove</b></button>
                            </form>
                            <br><br>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>