<!-- NAVBAR POPUPS -->

<!-- user menu -->
{% if request.user.is_authenticated %}
<div class="dropdown">
    <div id="userMenuDropdown" class="dropdown-content user-menu-dropdown-content">
        <a href="{% url 'user_profile' request.user %}">Profile</a>
        <a href="{% url 'user_profile_saved' request.user %}">Saved</a>
        <a href="{% url 'accounts_edit' %}">Settings</a>
        <a href="javascript:hidePopupFunc(); switchAccountfunc()">Switch Accounts</a>
        <hr>
        <a href="{% url 'logout_user' %}">Log Out</a>
    </div>
</div>
{% endif %}


<!-- post create -->
{% if request.user.is_authenticated %}
<div class="dropdown">
    <div id="postCreateDropdown" class="dropdown-content post-create-dropdown-content">
        <p>Create New Post</p>
        <hr>
        <div class="post-create-dropdown-text">
            <p>Drag photos and videos here</p>
            <form method="POST" enctype="multipart/form-data" name="post-create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="post-create-form">Share</button>
            </form>
        </div>
    </div>
</div>
{% endif %}