<!-- DROPDOWN OWNER'S POSTS OPTIONS -->
<div class="dropdown">
    <div id="postOptionsDropdown{{ post.id }}" class="dropdown-content post-options-dropdown-content">
        <a href="javascript:hidePopupFunc(); postDeleteFunc('{{ post.id }}')" class="dropbtn">Delete</a>
        <hr>
        <a href="javascript:postEditFunc('{{ post.id }}')" class="dropbtn">Edit</a>
        <hr>
        <a href="">Hide like count</a>
        <hr>
        <a href="">Turn off commenting</a>
        <hr>
        <a href="">Go to post</a>
        <hr>
        <a href="">Share to...</a>
        <hr>
        <a href="">Copy link</a>
        <hr>
        <a href="">Embed</a>
        <hr>
        <a href="javascript:hidePopupFunc()">Cancel</a>
    </div>
</div>