<!-- DROPDOWN MY POST OPTIONS -->

<div class="dropdown">
    <div id="myPostOptionsDropdownId" class="dropdown-content post-options-dropdown-content hide">
        <div class="x1uhb9sk">
            <div class="x9f619 x1n2onr6 x1ja2u2z">
                <div class="x78zum5 xdt5ytf xg6iff7 x1n2onr6">
                    <div onclick="hidePopupFunc()" class="x1ey2m1c xds687c xixxii4 x17qophe x13vifvy x1h0vfkc"></div>
                    <div class="x1uvtmcs x4k7w5x x1h91t0o x1beo9mf xaigb6o x12ejxvf x3igimt xarpa2k xedcshv x1lytzrv x1t2pt76 x7ja8zs x1n2onr6 x1qrby5j x1jfb8zj"
                        tabindex="-1">
                        <div class="x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k">
                            <div class="x1cy8zhl x9f619 x78zum5 xl56j7k x2lwn1j xeuugli x47corl">
                                <div role="dialog"
                                    class="x1ja2u2z x1afcbsf x1a2a7pz x6ikm8r x10wlt62 x71s49j x78zum5 xdt5ytf x1n2onr6 xl56j7k x6s0dn4">
                                    <div
                                        class="xs83m0k xl56j7k x1iy3rx x1n2onr6 x1sy10c2 x1h5jrl4 xieb3on xmn8rco x1hfn5x7 x13wlyjk x1v7wizp x1l0w46t xa3vuyk xw8ag78">
                                        <div></div>
                                        <div class="x7r02ix xf1ldfh x131esax xdajt7p xxfnqb6 xb88tzc xw2csxc x1odjw0f x5fp0pe"
                                            role="dialog">
                                            <div
                                                style="display: flex; flex-direction: column; height: 100%; max-width: 100%;">
                                                <div class="_a9-v">
                                                    <div class="_a9-z">
                                                        <!-- onclick value will be passed with js when open the dropdown -->
                                                        <button id="postDeleteBtnId" onclick="" class="dropbtn _a9-- _a9-_" tabindex="0">Delete</button>

                                                        <button id="postEditBtnId" onclick="" class="_a9-- _a9_1-_" tabindex="0">Edit</button>

                                                        <button class="_a9-- _a9_1" tabindex="0"><a id="myPostGoToPostLinkId" href="" style="text-decoration: none; color: black;">Go to post</a></button>

                                                        <button onclick="hidePopupFunc()" class="_a9-- _a9_1" tabindex="0">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>
