<!-- DROPDOWN OTHER POST OPTIONS -->
<div class="dropdown">
    <div id="postOptionsDropdown2{{ post.id }}" class="dropdown-content post-options-dropdown-content">
        <a href="">Report</a>
        <hr>
        <a href="">Unfollow</a>
        <hr>
        <a href="">Go to post</a>
        <hr>
        <a href="">Share to...</a>
        <hr>
        <a href="">Copy link</a>
        <hr>
        <a href="">Embed</a>
        <hr>
        <a href="javascript:hidePopupFunc()">Cancel</a>
    </div>
</div>