<!-- profile settings -->
<div class="dropdown">
    <div id="profileSettingsDropdownId" class="dropdown-content hide">
        <div onclick="hidePopupFunc()" class="x1ey2m1c xds687c xixxii4 x17qophe x13vifvy x1h0vfkc"></div>
        <div class="profile-settings-dropdown-content">
            <a href="{% url 'accounts_password_change' %}">Change password</a>
            <hr>
            <a href="{% url 'logout_user' %}">Logout</a>
            <hr>
            <a href="javascript: hidePopupFunc();">Cancel</a>
        </div>
    </div>
</div>