<!-- user menu -->
<div class="dropdown">
    <div id="userMenuDropdownId" class="dropdown-content hide">
        <div onclick="hidePopupFunc()" class="x1ey2m1c xds687c xixxii4 x17qophe x13vifvy x1h0vfkc"></div>
        <div aria-hidden="false" class="_ad8j _aa5x _aa5-" style="bottom: 0px; width: 238px;">
            <div class="_aa61">
                <!-- settings -->
                <div class="_abm4">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="{% url 'accounts_edit' %}" role="link" tabindex="0">
                        <div aria-labelledby="f2117f1f00fd784 f29cfd3632dd744 f38c3d2d24225ec f21d3c461bf9ab"
                            class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _ab9- _aba8 xn3w4p2 _abcm">
                            <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9o _abcm">
                                <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm" id="f29cfd3632dd744">
                                    <div class="_aacl _aaco _aacu _aacx _aada">
                                        <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9p _abcm">
                                            <div class="_aacl _aacp _aacu _aacx _aada">Settings</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abb1 _abcm"><svg aria-label="Settings"
                                    class="_ab6-" color="#262626" fill="#262626" height="24" role="img"
                                    viewBox="0 0 24 24" width="24">
                                    <circle cx="12" cy="12" fill="none" r="8.635" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    <path
                                        d="M14.232 3.656a1.269 1.269 0 0 1-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 0 1-.796.66m-.001 16.688a1.269 1.269 0 0 1 .796.66l.505.996h1.862l.505-.996a1.269 1.269 0 0 1 .796-.66M3.656 9.768a1.269 1.269 0 0 1-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 0 1 .66.796m16.688-.001a1.269 1.269 0 0 1 .66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 0 1-.66-.796M7.678 4.522a1.269 1.269 0 0 1-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 0 1-.096 1.03m11.8 11.799a1.269 1.269 0 0 1 1.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 0 1 .096-1.03m-14.956.001a1.269 1.269 0 0 1 .096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 0 1 1.03.096m11.799-11.8a1.269 1.269 0 0 1-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 0 1-1.03-.096"
                                        fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2">
                                    </path>
                                </svg></div>
                        </div>
                    </a>
                </div>
                <!-- saved -->
                <div class="_abm4">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="{% url 'user_profile_saved' request.user.username %}" role="link" tabindex="0">
                        <div aria-labelledby="f12a65aebd93114 f126d33a5520cbc f248d1b2fef8184 f3c7caea4ff23"
                            class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _ab9- _aba8 xn3w4p2 x1fvbc88 _abcm">
                            <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9o _abcm">
                                <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm" id="f126d33a5520cbc">
                                    <div class="_aacl _aaco _aacu _aacx _aada">
                                        <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9p _abcm">
                                            <div class="_aacl _aacp _aacu _aacx _aada">Saved</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abb1 _abcm"><svg aria-label="Saved"
                                    class="_ab6-" color="#262626" fill="#262626" height="24" role="img"
                                    viewBox="0 0 24 24" width="24">
                                    <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"></polygon>
                                </svg></div>
                        </div>
                    </a>
                </div>
                <!-- switch accounts -->
                <div class="_abm4" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                    <div aria-labelledby="f1323aae86828cc f16ff402c65cc6c f35db8ae23e5f1 f12cc27e3d1f964"
                        class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _ab9- _aba8 xn3w4p2 xsgn9v4 _abcm">
                        <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9o _abcm">
                            <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm" id="f16ff402c65cc6c">
                                <div class="_aacl _aaco _aacu _aacx _aada">
                                    <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9p _abcm">
                                        <div
                                            onclick="hidePopupFunc(); switchAccountDropdownFunc()"
                                            class="_aacl _aacp _aacu _aacx _aada">Switch accounts</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- logout -->
                <div class="_abm4" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                    <div aria-labelledby="f37db2f663b54e8 f2ff77e5c31e748 f2aeec7ac741af f2e2840d663f74"
                        class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _ab9- _aba8 xn3w4p2 x1fvbc88 _abcm">
                        <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9o _abcm">
                            <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm" id="f2ff77e5c31e748">
                                <div class="_aacl _aaco _aacu _aacx _aada">
                                    <div class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9p _abcm">
                                        <a href="{% url 'logout_user' %}" class="_aacl _aacp _aacu _aacx _aada" style="text-decoration: none; color: black;">Log out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_aa62"></div>
        </div>
    </div>
</div>