{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- USER IS NOT AUTHENTICATED -->
{% if not user.is_authenticated %}

    {% if page == 'login' %}
        <div class="start-login-page">
            <div class="login-page-image">
                <img src="{% static 'media/icons/instagram_login_page.png' %}"/>
            </div>

            <div class="login-page-form">
                <center>
                    <h1>INSTAGRAM</h1>
                    <form method="POST" name="login-form">
                        {% csrf_token %}
                        <input type="text" name="username" class="login-page-input" placeholder="Phone number, username, or email" />

                        <br><br>

                        <input type="text" name="password" class="login-page-input" placeholder="Password" />
                        <br>

                        <input type="submit" value="Log in" name="login-form" class="log-in-button"/>

                        <p>OR</p>
                        <p>Log in with Facebook</p>
                        {% if messages %}
                            <div class="error-messages">
                                {% for message in messages %}
                                    <small>{{ message }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <br><br>
                        <small><a href="">Forgot password?</a></small>

                        <hr><hr>

                        <p>Don't have an account? <a href="{% url 'register_page' %}">Sign up</a></p>
                    </form>
                </center>
            </div>

        </div>
    {% else %}
        <div class="register-page">
            <center>
                <div class="register-page-form">
                    <h1>INSTAGRAM</h1>
                    <p>Sign up to see photos and videos</p>
                    <p>from your friends.</p>
                    <input type="button" class="register-buttons" value="Log in with Facebook">

                    <p>OR</p>

                    <form method="POST" name="register-form">
                        {% csrf_token %}
                        <input type="text" id="phone" name="phone-or-email" class="register-page-input" placeholder="Mobile Number or Email" />
                        <br><br>
                        <input type="text" id="full-name" name="full-name" class="register-page-input" placeholder="Full Name" />
                        <br><br>
                        {{ user_create_form.username }}
                        <br><br>
                        {{ user_create_form.password1 }}
                        <br><br>
                        <small>People who use our service may have uploaded</small>
                        <br>
                        <small>your contact information to Instagram. Learn</small>
                        <br>
                        <small>More</small>
                        <br><br>
                        <small>By signing up, you agree to our Terms , Privacy</small>
                        <br>
                        <small>Policy and Cookies Policy .</small>
                        <br><br>

                        <input disabled type="submit" id="register-submit" class="register-buttons" value="Sign up" name="register-form" />
                    </form>
                    <div class="register-hr">
                        <hr><hr>
                    </div>

                    <p>Have an account? <a href="{% url 'main_page' %}">Log in</a></p>
                </div>
            </center>
        </div>
    {% endif %}

<!-- USER IS AUTHENTICATED -->
{% else %}
    <header id="header" class="header">
        <p>
            <a href="{% url 'main_page' %}">INSTAGRAM</a> <input type="text" name="search" class="search" placeholder="Search" />
            <a href="{% url 'main_page' %}"><img src="{% static 'media/icons/home_pressed.png' %}" class="navbar-buttons"/></a>
            <a href=""><img src="{% static 'media/icons/chats.png' %}" class="navbar-buttons"/></a>
            <input type="image" onclick="hidePopupFunc(); postCreateFunc()" class="dropbtn navbar-buttons" src="{% static 'media/icons/add_post.png' %}"/>
            <a href="{% url 'explore' %}"><img src="{% static 'media/icons/explore.png' %}" class="navbar-buttons"/></a>
            <a href=""><img src="{% static 'media/icons/notifications.png' %}" class="navbar-buttons"/></a>
            <span class="navbar-user-logo">
                <input type="image" onclick="hidePopupFunc(); userMenuFunc()" class="dropbtn user-menu-dropbtn" src="{{ request.user.userprofile.logo.url }}" />
            </span>
        </p>
    </header>

    {% include 'dropdowns/navbar_dropdowns.html' %}

    <div class="main-container">
        <div>

        </div>

        <div class="posts-tape">
            {% for post in posts %}
                <div class="post">
                    <!-- POST (INCLUDING POST.HTML) -->
                    {% include 'base/post.html' %}
                </div>
                
            {% endfor %}
        </div>

        <div class="side-panel">
            {% if request.user.is_authenticated %}
                <div class="avatar">
                    <a href="{% url 'user_profile' request.user %}">
                        <img src="{{ user_profile.logo.url }}"/>
                        <p>{{ request.user }}</p>                       
                    </a>
                    {% if user_profile.full_name %}
                        <p class="side-panel-full-name"><small>{{ user_profile.full_name }}</small></p>
                    {% endif %}
                </div>
                <small><a href="javascript:switchAccountfunc()" class="side-panel-switch">Switch</a></small>

                <div class="dropdown">
                    <div id="switchAccountDropdown" class="dropdown-content switch-account-dropdown">
                        <center>
                            <a href="javascript:hidePopupFunc()" class="hide-switch-account-popup">X</a>
                            <h1>INSTAGRAM</h1>
                            <form method="POST" name="login-form">
                                {% csrf_token %}
                                <input type="text" name="username" class="login-page-input" placeholder="Phone number, username, or email" />
        
                                <br><br>
        
                                <input type="text" name="password" class="login-page-input" placeholder="Password" />
                                <br>
        
                                <input type="submit" value="Log in" name="login-form" class="log-in-button"/>
        
                                {% if messages %}
                                    <div class="error-messages">
                                        {% for message in messages %}
                                            <small>{{ message }}</small>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <br><br>
                                <small><a href="">Forgot password?</a></small>
                
                            </form>
                        </div>
                    </center>
                </div>

                <div class="suggestions">
                    <p>Suggestions for you <small><a href="">See All</a></small></p>
                </div>
                {% for likes_user in post.users_who_liked %}
                    <p>{{ likes_user }}</p>
                {% endfor %}
            {% endif %}

        </div>

        <div>

        </div>
        
    </div>
    
{% endif %}

{% endblock %}

