{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- USER IS NOT AUTHENTICATED -->
{% if not user.is_authenticated %}

    {% if page == 'login' %}
        <div class="start-login-page">
            <form method="POST" name="login-form">
                {% csrf_token %}
                <p>
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter a username..." />
                </p>

                <p>
                    <label>Password</label>
                    <input type=text/ name="password" placeholder="Enter a password..." />
                </p>

                <input type="submit" value="submit" name="login-form" />
            </form>

            <a href="{% url 'register_page' %}">Haven't sign up yet?</a>
        </div>
    {% else %}
        <div class="register-page">
            <form method="POST" name="register-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" name="register-form" />
            </form>
            <p>Already signed up?</p>
            <a href="{% url 'main_page' %}">Login</a>
        </div>
    {% endif %}

<!-- USER IS AUTHENTICATED -->
{% else %}

    <div class="main-container">
        <div>

        </div>

        <div class="posts-tape">
            {% for post in posts %}
                <div class="post">
                    <!-- POST (INCLUDING POST.HTML) -->
                    {% include 'base/post.html' %}
                </div>
                
            {% endfor %}
        </div>

        <div class="side-panel">
            {% if request.user.is_authenticated %}
                <div class="avatar">
                    <a href="">
                        <img src="{{ user_profile.logo.url }}"/> <p>{{ request.user }}</p> <p>Switch</p>
                    </a>
                </div>

                <div class="suggestions">
                    <p>Suggestions for you <a href="">See All</a></p>
                </div>
                {% for likes_user in post.users_who_liked %}
                    <p>{{ likes_user }}</p>
                {% endfor %}
            {% endif %}

        </div>

        <div>

        </div>
        
    </div>
    
{% endif %}

{% endblock %}

