{% load static %}

<!-- OWNER'S POSTS HEADER AND OPTIONS -->
{% if post.user == request.user %}

<div class="post-header">
    <a href=""><img src="{{ post.user.userprofile.logo.url }}"/><p><b>{{ post.user }}</b></p></a> <button onclick="hidePopupFunc(); postOptionsFunc('{{ post.id }}')" class="dropbtn post-options-dropbtn">···</button>
</div>

<!-- DROPDOWN OWNER'S POSTS OPTIONS -->
<div class="dropdown">
    <div id="postOptionsDropdown{{ post.id }}" class="dropdown-content post-options-dropdown-content">
        <a href="javascript:hidePopupFunc(); postDeleteFunc('{{ post.id }}')" class="dropbtn">Delete</a>
        <hr>
        <a href="javascript:postEditFunc('{{ post.id }}')" class="dropbtn">Edit</a>
        <hr>
        <a href="">Hide like count</a>
        <hr>
        <a href="">Turn off commenting</a>
        <hr>
        <a href="">Go to post</a>
        <hr>
        <a href="">Share to...</a>
        <hr>
        <a href="">Copy link</a>
        <hr>
        <a href="">Embed</a>
        <hr>
        <a href="javascript:hidePopupFunc()">Cancel</a>
    </div>
</div>

<!-- OPTION ACTIONS OWNER'S POST -->

<!-- post delete -->
<div class="dropdown">
    <div id="postDeleteDropdown{{ post.id }}" class="dropdown-content post-delete-dropdown-content">
        <h2>Delete post?</h2>
        <p>Are you sure you want to delete this post?</p>
        <hr>
        <a href="{% url 'delete_post' post.id %}">Delete</a>
        <hr>
        <a href="javascript:hidePopupFunc()">Cancel</a>
    </div>
</div>

<!-- post edit -->
<div class="dropdown">
    <div id="postEditDropdown{{ post.id }}" class="dropdown-content post-edit-dropdown-content">
        <div class="edit-post-header-left">
            <a href="">Cancel</a>
        </div>

        <div class="edit-post-header-right">
            
        </div>

        <div class="edit-post-header-center">
            Edit Info
        </div>

        <hr>
        
        <div class="edit-post-body">
            <div class="edit-post-image">
                <img src="{{ post.image.url }}"/>
            </div>

            <div class="edit-post-logo-username-text">
                <img src="{{ post.user.userprofile.logo.url }}"/><p>{{ post.user }}</p>
                <div class="edit-text-form">
                    <form method="POST" name="post-edit-form">
                        {% csrf_token %}
                        <textarea name="post-text">{{ post.post_text }}</textarea>
                        <input type="hidden" name="post-id" value="{{ post.id }}">
                        <button type="submit" name="post-edit-form">Done</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OTHER POST HEADER AND OPTIONS -->
{% else %}

<div class="post-header">
    <a href=""><img src="{{ post.user.userprofile.logo.url }}"/><p><b>{{ post.user }}</b></p></a> <button onclick="hidePopupFunc(); postOptionsFunc2('{{ post.id }}')" class="dropbtn post-options-dropbtn">···</button>
</div>

<!-- DROPDOWN OTHER POST OPTIONS -->
<div class="dropdown">
    <div id="postOptionsDropdown2{{ post.id }}" class="dropdown-content post-options-dropdown-content">
        <a href="">Report</a>
        <hr>
        <a href="">Unfollow</a>
        <hr>
        <a href="">Go to post</a>
        <hr>
        <a href="">Share to...</a>
        <hr>
        <a href="">Copy link</a>
        <hr>
        <a href="">Embed</a>
        <hr>
        <a href="javascript:hidePopupFunc()">Cancel</a>
    </div>
</div>

{% endif %}

<!-- POST BODY -->
<div class="post-body">
    <img src="{{ post.image.url }}" class="post-image"/>

    <br>

    <!-- likes comments share save buttons -->
    <form action="{% url 'post_action' post.id %}" method="POST" class="likes-save-buttons-form">
        {% csrf_token %}
        <button type="submit" name="actionbtn" value="like" class="post-action post-like-dropbtn">
            <!-- show liked and unliked like button -->
            {% if request.user in post.users_likes %}
                <img src="{% static 'media/icons/like_icon_pressed.png' %}" class="post-action-icon"/>
            {% else %}
                <img src="{% static 'media/icons/like_icon.png' %}" class="post-action-icon"/>
            {% endif %}
        </button>
        <button type="submit" name="actionbtn" value="save" class="post-action post-save-dropbtn">
            {% if post.id in saved_posts %}
                <img src="{% static 'media/icons/save_icon_pressed.png' %}" class="post-action-icon"/>
            {% else %}
                <img src="{% static 'media/icons/save_icon.png' %}" class="post-action-icon"/>
            {% endif %}
        </button>
    </form>

    <!-- POST COMMENTS -->
    <input type="image" onclick="hidePopupFunc(); postCommentsFunc('{{ post.id }}')" class="dropbtn post-action post-comments-dropbtn" src="{% static 'media/icons/comment_icon.png' %}" />
    <!-- post comments dropdown -->
    <div class="dropdown">
        <div id="postCommentsDropdown{{ post.id }}" class="dropdown-content post-comments-dropdown-content">

            <!-- grid columns 50% / 50% -->
            <div class="post-comments-body">
                <div class="post-comments-image">
                    <img src="{{ post.image.url }}"/>
                </div>

                <!-- comments grid rows -->
                <div class="post-comments">
                    <div class="post-comments-header">
                        <a href=""><img src="{{ post.user.userprofile.logo.url }}"/><b>{{ post.user }}</b></a>
                        {% if post.user == request.user %}
                            <button onclick="postOptionsFunc('{{ post.id }}')" class="dropbtn post-comments-options-dropbtn">···</button>
                        {% else %}
                            <button onclick="postOptionsFunc2('{{ post.id }}')" class="dropbtn post-comments-options-dropbtn">···</button>
                        {% endif %}
                        <hr>                                    
                    </div>

                    <div class="post-comments-display">
                        <a href=""><img src="{{ post.user.userprofile.logo.url }}"/></a><p><b>{{ post.user }}</b> {{ post.post_text }}</p>

                        <!-- post text -->
                        <div class="comments-created-likes-replies">
                            {{ post.created | timesince }}
                        </div>

                        <!-- post comments -->
                        {% for comment in post.comments.all %}
                            <a href=""><img src="{{ comment.logo.url }}"/></a><p><b>{{ comment.user }}</b> {{ comment.body }}</p>
                            
                            {% if comment.user == request.user %}
                                <div class="comments-created-likes-replies">
                                    {{ comment.created | timesince}} 0 likes Reply <input type="button" onclick="commentOptionsFunc('{{ comment.id }}')" value="···"/>
                                    
                                    <!-- COMMENTS OPTIONS DROPDOWN-->
                                    <div class="dropdown">
                                        <div id="commentOptionsDropdown{{ comment.id }}" class="dropdown-content comment-options-dropdown-content">
                                            <a href="">Report</a>
                                            <hr>
                                            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
                                            <hr>
                                            <a href="javascript:hidePopupFunc()">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="comments-created-likes-replies">
                                    {{ comment.created | timesince}} 0 likes Reply <input type="button" onclick="commentOptionsFunc2('{{ comment.id }}')" value="···"/>
                                    
                                    <!-- COMMENTS OPTIONS DROPDOWN -->
                                    <div class="dropdown">
                                        <div id="commentOptionsDropdown2{{ comment.id }}" class="dropdown-content comment-options-dropdown-content">
                                            <a href="">Report</a>
                                            <hr>
                                            <a href="javascript:hidePopupFunc()">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="post-comments-actions-and-form">
                        <hr>
                        <!-- likes comments share save buttons -->
                        <form action="{% url 'post_action' post.id %}" method="POST" class="likes-save-buttons-form">
                            {% csrf_token %}
                            <button type="submit" name="actionbtn" value="like" class="post-comments-action post-comments-like-dropbtn">
                                <!-- show liked and unliked like button -->
                                {% if request.user in post.users_likes %}
                                    <img src="{% static 'media/icons/like_icon_pressed.png' %}" class="post-comments-action-icon"/>
                                {% else %}
                                    <img src="{% static 'media/icons/like_icon.png' %}" class="post-comments-action-icon"/>
                                {% endif %}
                            </button>
                            
                            <button type="submit" name="actionbtn" value="save" class="post-comments-action post-comments-save-dropbtn">
                                {% if post.id in saved_posts %}
                                    <img src="{% static 'media/icons/save_icon_pressed.png' %}" class="post-comments-action-icon"/>
                                {% else %}
                                    <img src="{% static 'media/icons/save_icon.png' %}" class="post-comments-action-icon"/>
                                {% endif %}
                            </button>
                        </form>
                        
                        <!-- post comments -->
                        <input type="image" onclick="" class="dropbtn post-comments-action post-comments-comments-dropbtn" src="{% static 'media/icons/comment_icon.png' %}" />
                        
                        <!-- post share -->
                        <input type="image" onclick="" class="dropbtn post-comments-action post-comments-share-dropbtn" src="{% static 'media/icons/share_icon.png' %}" />
                        
                        <p><b>{{ post.total_likes }} likes </b></p>

                        <p>{{ post.created | timesince }} ago </p>

                        <!-- form for adding comments -->
                        <form method="POST" class="add-comments-form" name="add-comment-form">
                            {% csrf_token %}
                            <input type="text" class="add-comments-input" placeholder="Add a comment..." name="comment-text"/>
                            <input type="hidden" name="post-id" value="{{ post.id }}">
                            <input type="submit" value="Post" name="add-comment-form"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- post share -->
    <input type="image" onclick="" class="dropbtn post-action post-share-dropbtn" src="{% static 'media/icons/share_icon.png' %}" />

    <!-- total likes -->
    {% if post.total_likes is not 0 %}
        <p><a href="javascript:usersWhoLikedPostFunc('{{ post.id }}')" class="dropbtn users-who-liked-post-dropbtn"><b>{{ post.total_likes }} likes</b></a></p>
    {% endif %}

    <div class="dropdown">
        <div id="usersWhoLikedPostDropdown{{ post.id }}" class="dropdown-content users-who-liked-post-dropdown-content">
            <span>Likes</span>
            <hr>
            {% for u in post.users_likes %}
                <div class="users-who-liked-post-body">
                    <a href=""><img src="{{ u.users.logo.url }}"/><p>{{ u.username }}</p></a> <button onclick="" class="follow-btn">Follow</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <p><b>{{ post.user }}</b> {{ post.post_text }}</p>
    <p>{{ post.created | timesince }} ago </p>

    <!-- form for adding comments -->
    <form method="POST" class="post-add-comments-form" name="add-comment-form">
        {% csrf_token %}
        <input type="text" class="post-add-comments-input" placeholder="Add a comment..." name="comment-text"/>
        <input type="hidden" name="post-id" value="{{ post.id }}">
        <input type="submit" value="Post" name="add-comment-form"/>
    </form>

</div>