{% load static %}

<!-- OWNER'S POSTS HEADER AND OPTIONS -->
{% if post.user == request.user %}

<div class="post-header">
    <a href="{% url 'user_profile' post.user %}">
        <img src="{{ post.user.userprofile.logo.url }}"/>
        <p><b>{{ post.user }}</b></p>
    </a>
    <button onclick="hidePopupFunc(); postOptionsFunc('{{ post.id }}')" class="dropbtn post-options-dropbtn">···</button>
</div>

{% include 'dropdowns/post_options.html' %}

{% include 'dropdowns/post_delete.html' %}

{% include 'dropdowns/post_edit.html' %}

<!-- OTHER POST HEADER AND OPTIONS -->
{% else %}

<div class="post-header">
    <a href="{% url 'user_profile' post.user %}">
        <img src="{{ post.user.userprofile.logo.url }}"/>
        <p><b>{{ post.user }}</b></p>
    </a>
    <button onclick="hidePopupFunc(); postOptionsFunc2('{{ post.id }}')" class="dropbtn post-options-dropbtn">···</button>
</div>

<!-- DROPDOWN OTHER POST OPTIONS -->
{% include 'dropdowns/post_options2.html' %}

{% endif %}

<!-- POST BODY -->
<div class="post-body">
    <img src="{{ post.image.url }}" class="post-image"/>

    <br>

    <!-- likes comments share save buttons -->
    <form action="{% url 'post_action' post.id %}" method="POST" class="likes-save-buttons-form">
        {% csrf_token %}
        <button type="submit" name="actionbtn" value="like" class="post-action post-like-dropbtn">
            <!-- show liked and unliked like button -->
            {% if request.user in post.users_likes %}
                <img src="{% static 'media/icons/like_icon_pressed.png' %}" class="post-action-icon"/>
            {% else %}
                <img src="{% static 'media/icons/like_icon.png' %}" class="post-action-icon"/>
            {% endif %}
        </button>
        <button type="submit" name="actionbtn" value="save" class="post-action post-save-dropbtn">
            {% if post.id in saved_posts %}
                <img src="{% static 'media/icons/save_icon_pressed.png' %}" class="post-action-icon"/>
            {% else %}
                <img src="{% static 'media/icons/save_icon.png' %}" class="post-action-icon"/>
            {% endif %}
        </button>
    </form>

    <!-- POST COMMENTS -->
    <input type="image" onclick="hidePopupFunc(); postCommentsFunc('{{ post.id }}')" class="dropbtn post-action post-comments-dropbtn" src="{% static 'media/icons/comment_icon.png' %}" />

    {% include 'dropdowns/post_comments.html' %}

    <!-- post share -->
    <input type="image" onclick="" class="dropbtn post-action post-share-dropbtn" src="{% static 'media/icons/share_icon.png' %}" />

    <!-- total likes -->
    {% if post.total_likes is not 0 %}
        <p><a href="javascript:usersWhoLikedPostFunc('{{ post.id }}')" class="dropbtn users-who-liked-post-dropbtn"><b>{{ post.total_likes }} likes</b></a></p>
    {% endif %}

    {% include 'dropdowns/users_who_liked_post.html' %}

    <p><b>{{ post.user }}</b> {{ post.post_text }}</p>
    <p>{{ post.created | timesince }} ago </p>

    <!-- form for adding comments -->
    <form method="POST" class="post-add-comments-form" name="add-comment-form">
        {% csrf_token %}
        <input type="text" class="post-add-comments-input" placeholder="Add a comment..." name="comment-text"/>
        <input type="hidden" name="post-id" value="{{ post.id }}">
        <input type="submit" value="Post" name="add-comment-form"/>
    </form>

</div>