{% load static %}

<body class="_a3wf _-kb segoe">
    <div id="splash-screen"
        style="position: fixed; z-index: 100; background: rgb(255, 255, 255); top: 0px; left: 0px; width: 100%; height: 100%; display: none;">
        <style type="text/css" nonce="">
        </style><img width="80px" height="80px" style="position:absolute;top:50%;left:50%;margin:-40px 0 0 -40px"></span>
    </div>
    <div id="mount_0_0_e/"><span id="ssrb_root_start" style="display: none;"></span>
        <div>
            <div class="">
                <div class="x9f619 x1n2onr6 x1ja2u2z"><span id="ssrb_top_nav_start" style="display: none;"></span><span
                        id="ssrb_top_nav_end" style="display: none;"></span>
                    <div class="x9f619 x1n2onr6 x1ja2u2z">
                        <div class="x78zum5 xdt5ytf x1n2onr6 x1ja2u2z">
                            <div class="x78zum5 xdt5ytf x1n2onr6">
                                <div class="x78zum5 xdt5ytf x1n2onr6 xat3117 xxzkxad">
                                    <div class="x78zum5 xdt5ytf x10cihs4 x1t2pt76 x1n2onr6 x1ja2u2z">
                                        <section class="_a997 _a998">
                                            <div></div>
                                            <main class="_a993 _a995" role="main">
                                                <article
                                                    class="x1qjc9v5 x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x78zum5 x1q0g3np x1iyjqo2 x2lah0s xk390pu xl56j7k xg87l8a xkrivgy xat24cr x1gryazu x1ykew4q xexx8yu x4uap5 x1gan7if xkhd6sd x11njtxf xh8yej3 x1d2lwc3">
                                                    <div class="_ab1y">
                                                        <div class="_ab21">
                                                            <div
                                                                class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abal _abc5 _abcm">
                                                                <div aria-disabled="false" role="button" tabindex="0"
                                                                    style="cursor: pointer;"><i
                                                                        data-visualcompletion="css-img"
                                                                        aria-label="Instagram" class="" role="img"
                                                                        style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yr/r/NL0hPV-L09m.png&quot;); background-position: 0px 0px; background-size: 176px 186px; width: 174px; height: 50px; background-repeat: no-repeat; display: inline-block;"></i>
                                                                </div>
                                                            </div>
                                                            <div class="_ab3a">

                                                                <!-- USERNAME AND PASSWORD FIELDS -->

                                                                <div class="_ab3b" >
                                                                    <form method="POST">
                                                                        {% csrf_token %}
                                                                        <div
                                                                            class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abc2 _abcm">
                                                                            
                                                                            <!-- USERNAME -->

                                                                            <div class="_ab32">
                                                                                <div
                                                                                    class="x6s0dn4 x1npaq5j x1c83p5e x1enjb0b x199158v x9f619 x78zum5 x1q0g3np xvs91rp x1n2onr6 xh8yej3 xnz67gz x5n08af xx7zo7k x1fzb3qy xb0nk2e xubunj8">
                                                                                    <label class="_aa48 _aa49">
                                                                                        <span
                                                                                            class="_aa4a">Phone number,
                                                                                            username, or email
                                                                                        </span>
                                                                                        <input
                                                                                            maxlength="75"
                                                                                            name="username" type="text"
                                                                                            class="_aa4b _add6 _ac4d">
                                                                                    </label>
                                                                                    <div
                                                                                        class="x6s0dn4 x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x78zum5 x1c4vz4f x2lah0s xdl72j9 x1q0g3np xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x1sxyh0 x18d9i69 xkhd6sd x1n2onr6 xxymvpz">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- PASSWORD -->

                                                                            <div class="_ab32">
                                                                                <div
                                                                                    class="x6s0dn4 x1npaq5j x1c83p5e x1enjb0b x199158v x9f619 x78zum5 x1q0g3np xvs91rp x1n2onr6 xh8yej3 xnz67gz x5n08af xx7zo7k x1fzb3qy xb0nk2e xubunj8">
                                                                                    <label class="_aa48 _aa49">
                                                                                        <span
                                                                                            class="_aa4a">Password
                                                                                        </span>
                                                                                        <input
                                                                                            name="password" type="password"
                                                                                            class="_aa4b _add6 _ac4d">
                                                                                    </label>
                                                                                </div>
                                                                            </div>

                                                                            <!-- LOGIN -->

                                                                            <div
                                                                                class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abak _abb8 _abbq _abb- _abcm">
                                                                                <button class="_acan _acap _acas _aj1-"
                                                                                    type="submit"
                                                                                    name="login-form">
                                                                                    <div
                                                                                        class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm">
                                                                                        Log in
                                                                                    </div>
                                                                                </button>
                                                                            </div>


                                                                            <div class="_ab39">
                                                                                <div class="x78zum5 x1q0g3np">
                                                                                    <div
                                                                                        class="x1iyjqo2 xs83m0k xjm9jq1 x1n2onr6 xwtuau4 x11mr3az">
                                                                                    </div>
                                                                                    <div
                                                                                        class="x1qjc9v5 x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1roi4f4 x78zum5 xdt5ytf x1c4vz4f x2lah0s x1nxh6w3 x1s688f x1ly1vsg xdj266r xpdqn1h xat24cr x1sliqq xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xtvhhri x11njtxf">
                                                                                        or</div>
                                                                                    <div
                                                                                        class="x1iyjqo2 xs83m0k xjm9jq1 x1n2onr6 xwtuau4 x11mr3az">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <!-- LOGIN ERROR MESSAGE -->

                                                                            <div style="margin-top: -10px; margin-left: 15px;">
                                                                                {% if messages %}
                                                                                    <div class="error-messages">
                                                                                        {% for message in messages %}
                                                                                            <small>{{ message }}</small>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                    <br>
                                                                                {% endif %}
                                                                            </div>
                                                                            <br>

                                                                        </div>
                                                                    </form>
                                                                    
                                                                    <!-- FORGOT PASSWORD  -->

                                                                    <a
                                                                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _ab2y _a6hd"
                                                                        href=""
                                                                        role="link"
                                                                        tabindex="0">Forgot password?
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- DON'T HAVE ACCOUNT? -->
                                                        <div class="_ab21">
                                                            <div class="_aacl _aaco _aacu _aacy _aad6">
                                                                <p class="_ab25">Don't have an account? <a
                                                                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                                                        href="{% url 'register_page' %}" role="link"
                                                                        tabindex="0"><span
                                                                            class="_aacl _aaco _aacw _aad0 _aad7">Sign
                                                                            up</span></a></p>
                                                            </div>
                                                        </div>

                                                        <!-- DOWNLOAD APP -->
                                                        
                                                        <div class="x78zum5 xdt5ytf">
                                                            <div class="_aa4u"><span
                                                                    class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x5n08af x2b8uid x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                                    style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:18px;">Get
                                                                    the app.</span></div>
                                                            <div class="_aa4v"><a aria-label="Get it on Google Play"
                                                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _aa5s _a6hd"
                                                                    rel="nofollow noopener" role="link" tabindex="0"
                                                                    target="_blank"><img alt="Get it on Google Play"
                                                                        class="_aa5q"
                                                                        src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png"></a><a
                                                                    aria-label="Get it from Microsoft"
                                                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _aa5s _a6hd"
                                                                    role="link" tabindex="0"><img
                                                                        alt="Get it from Microsoft" class="_aa5q"
                                                                        src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </main>
                                        </section>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div><span id="ssrb_root_end" style="display: none;"></span>
    </div>


    <link type="text/css" rel="stylesheet"
        href="https://static.cdninstagram.com/rsrc.php/v3/yi/l/0,cross/NeXLrfo55mdeiz0Pdsy81i4cwCxbEDoOlI3sHU8T2Aki.css?_nc_x=Ij3Wp8lg5Kz"
        data-bootloader-hash="V35gVFA" crossorigin="anonymous" data-p=":17,62,21,55" data-c="1">
</body>