<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}?123"/>
    <title>Instagram</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}


    
    {% endblock %}

    <script src="{% static 'js/script.js' %}?123"></script>
</body>
</html>