{% load static %}

<header id="header" class="header">
    <p>
        <a href="{% url 'main_page' %}">INSTAGRAM</a> <input type="text" name="search" class="search" placeholder="Search" />
        <a href="{% url 'main_page' %}"><img src="{% static 'media/icons/home.png' %}" class="navbar-buttons"/></a>
        <a href=""><img src="{% static 'media/icons/chats.png' %}" class="navbar-buttons"/></a>
        <input type="image" onclick="hidePopupFunc(); postCreateFunc()" class="dropbtn navbar-buttons" src="{% static 'media/icons/add_post.png' %}"/>
        <a href="{% url 'explore' %}"><img src="{% static 'media/icons/explore.png' %}" class="navbar-buttons"/></a>
        <a href=""><img src="{% static 'media/icons/notifications.png' %}" class="navbar-buttons"/></a>
        <span class="navbar-user-logo">
            <input type="image" onclick="hidePopupFunc(); userMenuFunc()" class="dropbtn user-menu-dropbtn" src="{{ request.user.userprofile.logo.url }}" />
        </span>
    </p>
</header>

{% include 'dropdowns/navbar_dropdowns.html' %}