a {
    text-decoration: none;
}

body {
    font: 14px Arial;
}

/* --- NAVBAR --- */

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    margin-top: -10px;
    margin-left: -10px;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    z-index: 999;
}

.header p {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-left: 300px;
}

.header p .search {
    margin-left: 300px;
}

.header .navbar-user-logo .user-menu-dropbtn {
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    border-radius: 50%;
    object-position: center;
}


/* --- USER LOGIN / LOGOUT / REGISTER ---*/

.start-login-page {
    position: absolute;
    margin-top: 10px;
    margin-left: 350px;
    display: grid;
    grid-template-columns: 440px 340px;
}

.login-page-image img {
    height: 620px;
}

.login-page-form {
    position: relative;
    height: 425px;
    margin-top: 30px;
    border: 1px solid black;
}

.login-page-form h1 {
    margin-top: 50px;
}

.login-page-input {
    height: 30px;
    width: 260px;
}

.login-input-field {
    margin-top: 30px;
}

.log-in-button {
    height: 30px;
    width: 270px;
    margin-top: 20px;
}


.register-page {
    position: relative;
}

.register-page-form {
    height: 700px;
    width: 350px;
    margin-top: 30px;
    border: 1px solid black;
}

.register-page-form h1 {
    margin-top: 50px;
}

.register-page-input {
    height: 30px;
    width: 260px;
}

.register-buttons {
    height: 30px;
    width: 265px;
}

.register-hr {
    margin-top: 30px;
    margin-bottom: 25px
}




                                    /* ----------------------- MAIN PAGE ------------------------ */




/* --- POSTS TAPE --- */

.main-container {
    display: grid;
    grid-template-columns: 340px 470px 360px 100px;
}

.posts-tape {
    margin-top: 80px;
}

.posts-tape .post {
    position: relative;
    width: 470px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 2%;
}

.posts-tape .post .post-header {
    display: flex;
    object-position: center;
    padding: 8px;
}

.posts-tape .post .post-header a {
    display: flex;
    object-position: center;
}

.posts-tape .post .post-header a p {
    display: flex;
    object-position: center;
    margin-top: 8px;
    margin-left: 8px;
}

.posts-tape .post .post-header img {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    border-radius: 50%;
    object-position: center;
}

.posts-tape .post-body p {
    margin-left: 8px;
    margin-right: 8px;
}

.posts-tape .post-body .post-image {
    width: 100%;
}


/* --- POST ACTION BUTTONS --- */

.post-action {
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-left: 10px;
}

.post-action .post-action-icon {
    position: relative;
    height: 24px;
    width: 24px;
    margin-top: -3px;
    margin-left: -8px;
}

.post-comments-dropbtn {
    position: relative;
    margin-top: -80px;
    margin-left: 50px;
}

.post-share-dropbtn {
    position: relative;
    margin-top: -80px;
    margin-left: 10px;
}

.post-save-dropbtn {
    margin-left: 400px;
}

.likes-save-buttons-form {
    margin-bottom: -20px;
}


.post-add-comments-input {
    height: 50px;
    width: 400px;
    margin-bottom: -1px;
    margin-left: 10px;
}

/* .likes-save-buttons-form {
    margin-top: -15px;
} */


/* ---  USERS WHO LIKED POST DROPDOWN --- */

.users-who-liked-post-dropdown-content {
    display: none;
    height: 400px;
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.users-who-liked-post-dropdown-content span {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.users-who-liked-post-dropdown-content .users-who-liked-post-body {
    height: 50px;
    overflow: auto;
    margin-bottom: 10px;
    align-items: center;
}

.users-who-liked-post-dropdown-content .users-who-liked-post-body img {
    width: 3rem;
    height: 3rem;
    display: block;
    border-radius: 50%;
    margin-left: 15px;
    object-position: center;
}

.users-who-liked-post-dropdown-content .users-who-liked-post-body p {
    margin-top: -35px;
    margin-left: 70px;
}

.users-who-liked-post-dropdown-content .users-who-liked-post-body .follow-btn {
    position: absolute;
    margin-top: -15px;
    margin-left: 320px;
}


/* --- POST COMMENTS DROPDOWN --- */

.post-comments-dropdown-content {
    display: none;
    width: 1000px;
    height: 627px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}


.post-comments-body {
    display: grid;
    grid-template-columns: 500px 500px;;
}

.post-comments-body .post-comments-image {
    display: block;
    height: 100%;
}

.post-comments-body .post-comments-image img {
    height: 627px;
    width: 500px;
}

/* header */
.post-comments-body .post-comments .post-comments-header {
    position: absolute;
    background-color: #f1f1f1;
    height: 68px;
    width: 500px;
    z-index: 99999;
}

.post-comments-body .post-comments .post-comments-header img {
    margin: 15px;
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    border-radius: 50%;
}

.post-comments-body .post-comments .post-comments-header .post-comments-options-dropbtn {
    position: absolute;
    margin-top: -45px;
    margin-left: 450px;
}

.post-comments-body .post-comments .post-comments-header b {
    position: absolute;
    margin-top: -42px;
    margin-left: 60px;
}

/* post comments display */
.post-comments-body .post-comments .post-comments-display {
    position: absolute;
    overflow: auto;
    margin-top: 60px;
    height: 350px;
    width: 500px;
}

.post-comments-body .post-comments .post-comments-display img {
    margin: 15px;
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    border-radius: 50%;
}

.post-comments-body .post-comments .post-comments-display p {
    position: absolute;
    object-position: center;
    margin-top: -42px;
    margin-left: 60px;
}

.post-comments-body .post-comments .post-comments-display .comments-created-likes-replies {
    margin-left: 20px;
}

/* post comments actins and forms */
.post-comments-body .post-comments .post-comments-actions-and-form {
    position: absolute;
    background-color: #f1f1f1;
    margin-top: 450px;
    height: 150px;
    width: 500px;
}

.post-comments-body .post-comments .post-comments-actions-and-form .post-comments-action{
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-left: 10px;
}

.post-comments-body .post-comments .post-comments-actions-and-form .post-comments-save-dropbtn {
    margin-left: 420px;
}

.post-comments-body .post-comments .post-comments-actions-and-form .post-comments-action-icon {
    position: relative;
    height: 24px;
    width: 24px;
    margin-top: -3px;
    margin-left: -8px;
}

.post-comments-body .post-comments .post-comments-actions-and-form .post-comments-comments-dropbtn {
    margin-top: -38px;
    margin-left: 50px;
}

.post-comments-body .post-comments .post-comments-actions-and-form .post-comments-share-dropbtn {
    margin-top: -38px;
}

.post-comments-body .post-comments .post-comments-actions-and-form .comments-total-likes {
    margin-top: 5px;
}

/* add comments form */
.post-comments-body .post-comments .post-comments-actions-and-form .add-comments-form {
    position: absolute;
}

.post-comments-body .post-comments .post-comments-actions-and-form .add-comments-input {
    height: 50px;
    width: 430px;
}


/* --- SIDE PANEL ---*/

.side-panel {
    margin-left: 30px;
    margin-top: 100px;
}

.avatar {
    position: fixed;
}

.avatar a {
    display: flex;
    gap: 1.2rem;
}

.avatar img {
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    border-radius: 50%;
    object-position: center;
}

.avatar a p {
    margin-top: 8px;
}

.side-panel-full-name {
    margin-top: -28px;
    margin-left: 75px;
}

.side-panel-switch {
    position: fixed;
    margin-top: 20px;
    margin-left: 280px;
}


.suggestions {
    margin-top: 50px;
    position: fixed;
    display: inline-block;
}

.suggestions small {
    margin-left: 152px;
}


/* --- POST CREATE DROPDOWN WINDOW --- */

/* Dropdown Content (Hidden by Default) */
.post-create-dropdown-content {
    display: none;
    height: 540px;
    width: 500px;
    text-align: center;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.post-create-dropdown-content a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* --- NAVBAR USER MENU ---*/

/* Dropdown Content (Hidden by Default) */
.user-menu-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    margin-top: 50px;
    margin-left: 1000px;
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.user-menu-dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}


/* --- POST DROPDOWN OPTIONS --- */


/* Dropdown Button for Owner */
.post-options-dropbtn {
    position: absolute;
    margin-top: 10px;
    height: 20px;
    width: 30px;
    margin-left: 420px;
}

/* Dropdown Content (Hidden by Default) */
.post-options-dropdown-content {
    display: none;
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.post-options-dropdown-content a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}


/* --- POST DELETE DROPDOWN ---*/

/* Dropdown Content (Hidden by Default) */
.post-delete-dropdown-content {
    display: none;
    width: 400px;
    text-align: center;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.post-delete-dropdown-content a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.post-delete-dropdown-content p {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.post-delete-dropdown-content h2 {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}

/* --- POST EDIT DROPDOWN --- */
.post-edit-dropdown-content {
    display: none;
    width: 800px;
    height: 500px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


.post-edit-dropdown-content .edit-post-header-left {
    display: flex;
    float: left;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.post-edit-dropdown-content .edit-post-header-right {
    display: flex;
    float: right;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.post-edit-dropdown-content .edit-post-header-center {
    display: flex;
    margin: 0 auto;
    width: 100px;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.post-edit-dropdown-content img {
    position: absolute;
    height: 100%;
}

.post-edit-dropdown-content .edit-post-body {
    display: flex;
    /* grid-template-columns: 60% 40%; */
    height: 88%;
}

.post-edit-dropdown-content .edit-post-image {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.post-edit-dropdown-content .edit-post-image img {
    width: 100%;
    height: 100%;
}

.post-edit-dropdown-content .edit-post-logo-username-text {
    display: flex;
    object-position: center;
    padding: 20px;
    width: 40%;
}

.post-edit-dropdown-content .edit-post-logo-username-text p {
    display: flex;
    object-position: center;
    margin-top: 8px;
    margin-left: 45px;
}

.post-edit-dropdown-content .edit-post-logo-username-text img {
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    border-radius: 50%;
    object-position: center;
}

.post-edit-dropdown-content .edit-post-logo-username-text .edit-text-form {
    margin-top: 50px;
    margin-left: -70px;
}


.post-edit-dropdown-content .edit-post-logo-username-text .edit-text-form form textarea {
    height: 150px;
    width: 300px;
}


/* --- COMMENTS OPTIONS DROPDOWN --- */

/* Dropdown Content (Hidden by Default) */
.comment-options-dropdown-content {
    display: none;
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.comment-options-dropdown-content a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}



                                    /* -----------------------  USER PROFILE ------------------------ */


.user-profile-header {
    display: flex;
    align-items: center;
    margin-left: 350px;
}


.user-profile-header .user-profile-image {
    display: block;
    margin-top: 90px;
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    object-position: center;
}

.user-profile-header p {
    position: absolute;
    object-position: center;
    margin-left: 250px;
}

.user-profile-header .user-profile-username {
    font-size: 30px;
}

.user-profile-header a {
    margin-left: 20px;
}


.user-profile-header .user-profile-serttings-dropbtn {
    margin-left: 20px;
}

.user-profile-header .user-profile-posts-followers-following {
    margin-top: 100px;
}

.user-profile-hr {
    margin-top: 40px;
    width: 63%;
}

.user-profile-posts-saved-tagged {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 15px;
    margin-left: 610px;
}

.user-profile-posts-grid {
    position: realtive;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(auto-fill, 300px);
    gap: 1.5rem;
    margin-top: 15px;
    margin-left: 275px;
} 
  
.user-profile-posts-grid .user-profile-post-comments-dropbtn {
    height: 300px;
    width: 300px;
}


                                    /* ----------------------- SETTINGS ------------------------ */


/* Profile settings dropdown */
.profile-settings-dropdown-content {
    display: none;
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.profile-settings-dropdown-content a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    display: block;
}

/* COMMON SETTINGS CSS AND EDIT PROFILE */
/* settings grid */
.settings-container {
    position: absolute;
    margin-top: 120px;
    margin-left: 280px;
    display: grid;
    grid-template-columns: 240px 700px;
}

.settings-list {
    position: relative;
    border: 1px solid black;
    height: 840px;
    padding-top: 15px;
    padding-left: 30px;
}

.settings-list p {
    padding-left: 20px;
}

.settings-list hr {
    margin-left: -30px;
}

.edit-profile {
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-top: 15px;
    height: 840px;
}

.edit-profile .edit-accounts-forms {
    margin-top: 15px;
}

.edit-profile .settings-tips {
    margin-top: 10px;
}

.edit-profile form {
    margin-top: 15px;
}

.edit-profile-forms {
    height: 25px;
    width: 350px;
}

.edit-profile-textarea-form {
    height: 80px;
    width: 350px;
}

.edit-profile .change-profile-photo-dropbtn {
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    border-radius: 50%;
}

.edit-profile .edit-profile-header {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 130px;
}

.edit-profile .edit-profile-header h2 {
    margin-top: 0px;
    margin-left: 30px;
}

.edit-profile .edit-profile-header .change-profile-photo-link {
    margin-top: 20px;
    margin-left: -45px;
}

.edit-submit-button {
    margin-top: 30px;
}




                                    /* ----------------------- COMMON ------------------------ */




/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


/* --- MESAGES --- */
.messages {
    position: absolute;
    margin-top: 100px;
}