{% extends 'main.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="settings-container">
    <div class="settings-list">
        <b><a href="">Edit profile</a></b>
        <br><br><br>
        <a href="{% url 'accounts_password_change' %}">Change password</a>
        <br><br><br>
        <a>Apps and websites</a>
        <br><br><br>
        <a>Email notifications</a>
        <br><br><br>
        <a>Push notifications</a>
        <br><br><br>
        <a>Manage contacts</a>
        <br><br><br>
        <a>Privacy and security</a>
        <br><br>
        <a>Login activity</a>
        <br><br><br>
        <a>Emails from instagram</a>
        <br><br><br>
        <a>Help</a>
        <br><br>
        <p>Switch to professional account</p>
        <br><br>
        <hr>

        <h3>Meta</h3>
        <label>Accounts Center</label>
        <br><br>
        <small>Control settings for connected experiences across Instagram, the Facebook app and Messenger, including story and post sharing and logging in.</small>
    </div>

    <div class="edit-profile">
        <center>

            <form method="POST" enctype="multipart/form-data" name="profile-edit-form">
                {% csrf_token %}

                <div class="edit-profile-header">
                    <input type="image" onclick="" class="dropbtn change-profile-photo-dropbtn" src="{{ user_profile.logo.url }}"/>
                    <h2>{{ request.user }}</h2>
                    <a href="javascript:hidePopupFunc(); changeLogoFunc()" class="dropbtn change-profile-photo-link">Change profile photo</a>
                </div>
    
                <div class="dropdown">
                    <div id="changeLogoDropdown" class="dropdown-content change-logo-dropdown-content">
                        <h2>Change Profile Photo</h2>
                        <hr>
                        <label for="files">Upload Photo</label>
                        <input type="file" id="files" name="new-logo"/>
                        <hr>
                        <a href="{% url 'remove_logo' %}">Remove Current Photo</a>
                        <hr>
                        <a href="javascript:hidePopupFunc()">Cancel</a>
                    </div>
                </div>

                <label>Name</label>
                {% if user_profile.full_name %}
                    <input type="text" name="fullname" value="{{ user_profile.full_name }}" class="edit-profile-forms"/>
                {% else %}
                    <input type="text" name="fullname" placeholder="Name" class="edit-profile-forms"/>
                {% endif %}

                <div class="settings-tips">
                    <small>Help people discover your account by using the name you're</small>
                    <br>
                    <small>known by: either your full name, nickname, or business name.</small>
                    <br><br>
                    <small>You can only change your name twice within 14 days.</small>
                </div>

                <div class="edit-accounts-forms">
                    <label>Username</label>
                    {% if user_profile.user %}
                        <input type="text" name="username" value="{{ user_profile.user }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="username" placeholder="Username" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="settings-tips">
                    <small>In most cases, you'll be able to change your username back to</small>
                    <br>
                    <small>{{ request.user }} for another 14 days. Learn more</small>
                </div>

                <div class="settings-tips">
                    <label>Website</label>
                    {% if user_profile.website %}
                        <input type="text" name="website" value="{{ user_profile.website }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="website" placeholder="Website" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Bio</label>
                    {% if user_profile.bio %}
                        <textarea name="bio" class="edit-profile-textarea-form">{{ user_profile.bio }}</textarea>
                    {% else %}
                        <textarea name="bio" class="edit-profile-textarea-form"></textarea>
                    {% endif %}
                </div>

                <p>Personal information</p>
                <small>Provide your personal information, even if the account is used for a</small>
                <br>
                <small>business, a pet or something else. This won't be a part of your</small>
                <br>
                <small>public profile.</small>

                <div class="edit-accounts-forms">
                    <label>Email</label>
                    {% if user_profile.email %}
                        <input type="text" name="email" value="{{ user_profile.email }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="email" placeholder="Email" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Phone number</label>
                    {% if user_profile.phone %}
                        <input type="text" name="phone" value="{{ user_profile.phone }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="phone" placeholder="Phone number" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Gender</label>
                    {{ user_profile_form.gender }}
                    {% if user_profile.gender %}
                    <input type="text" value="{{ user_profile.get_gender_display }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" placeholder="Gender" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Similar accounts <br> suggestions</label>
                    {% if user_profile.similar_account_suggestions %}
                        <label><input type="checkbox" name="similar-account-suggestions" value="checked" checked="checked" />Include your account when <br> recommending similar account <br> people might want to follow.</label>
                    {% else %}
                        <label><input type="checkbox" name="similar-account-suggestions" value="check" />Include your account when <br> recommending similar account <br> people might want to follow.</label>
                    {% endif %}
                    </div>

                <input type="submit" value="Submit" name="profile-edit-form" class="edit-submit-button"/> <a href="">Temporarily deactivate my account</a>

            </form>
            
        </center>
    </div>

    <br><br>
</div>

{% endblock %}