{% extends 'main.html' %}

{% block content %}

<div class="settings-container">
    <div class="settings-list">
        <a href="{% url 'accounts_edit' %}">Edit profile</a>
        <br><br><br>
        <b><a href="">Change password</a></b>
        <br><br><br>
        <a href="">Apps and websites</a>
        <br><br><br>
        <a href="">Email notifications</a>
        <br><br><br>
        <a href="">Push notifications</a>
        <br><br><br>
        <a href="">Manage contacts</a>
        <br><br><br>
        <a href="">Privacy and security</a>
        <br><br>
        <a href="">Login activity</a>
        <br><br><br>
        <a href="">Emails from instagram</a>
        <br><br><br>
        <a href="">Help</a>
        <br><br>
        <p>Switch to professional account</p>
        <br><br>
        <hr>

        <h3>Meta</h3>
        <label>Accounts Center</label>
        <br><br>
        <small>Control settings for connected experiences across Instagram, the Facebook app and Messenger, including story and post sharing and logging in.</small>
    </div>

    <div class="edit-profile">
        <center>

            <div class="edit-profile-header">
                <input type="image" onclick="" class="dropbtn change-profile-photo-dropbtn" src="{{ user_profile.logo.url }}"/>
                <h2>{{ request.user }}</h2>
            </div>

            <form method="POST" name="">
                {% csrf_token %}
                <div class="edit-accounts-forms">
                    <label>Old password</label>
                    <input type="text" name="old-password" placeholder="" class="edit-profile-forms"/>
                </div>

                <div class="edit-accounts-forms">
                    <label>New password</label>
                    <input type="text" name="new-password" placeholder="" class="edit-profile-forms"/>
                </div>

                <div class="edit-accounts-forms">
                    <label>Confirm new password</label>
                    <input type="text" name="confirm-new-password" placeholder="" class="edit-profile-forms"/>
                </div>

                <input type="submit" value="Change password" name="" class="edit-submit-button"/>
                <br><br>
                <a href="">Forgot password?</a>
            </form>
            
        </center>
    </div>

    <br><br>
</div>

{% endblock %}