{% extends 'main.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="settings-container">
    <div class="settings-list">
        <b><a href="">Edit profile</a></b>
        <br><br><br>
        <a href="{% url 'accounts_password_change' %}">Change password</a>
        <br><br><br>
        <a href="">Apps and websites</a>
        <br><br><br>
        <a href="">Email notifications</a>
        <br><br><br>
        <a href="">Push notifications</a>
        <br><br><br>
        <a href="">Manage contacts</a>
        <br><br><br>
        <a href="">Privacy and security</a>
        <br><br>
        <a href="">Login activity</a>
        <br><br><br>
        <a href="">Emails from instagram</a>
        <br><br><br>
        <a href="">Help</a>
        <br><br>
        <p>Switch to professional account</p>
        <br><br>
        <hr>

        <h3>Meta</h3>
        <label>Accounts Center</label>
        <br><br>
        <small>Control settings for connected experiences across Instagram, the Facebook app and Messenger, including story and post sharing and logging in.</small>
    </div>

    <div class="edit-profile">
        <center>

            <div class="edit-profile-header">
                <input type="image" onclick="" class="dropbtn change-profile-photo-dropbtn" src="{{ user_profile.logo.url }}"/>
                <h2>{{ request.user }}</h2>
                <a href="" class="change-profile-photo-link">Change profile photo</a>
            </div>

            <form method="POST" name="profile-edit-form">
                {% csrf_token %}

                <label>Name</label>
                {% if user_profile.full_name %}
                    <input type="text" name="fullname" value="{{ user_profile.full_name }}" class="edit-profile-forms"/>
                {% else %}
                    <input type="text" name="fullname" placeholder="Name" class="edit-profile-forms"/>
                {% endif %}

                <div class="settings-tips">
                    <small>Help people discover your account by using the name you're</small>
                    <br>
                    <small>known by: either your full name, nickname, or business name.</small>
                    <br><br>
                    <small>You can only change your name twice within 14 days.</small>
                </div>

                <div class="edit-accounts-forms">
                    <label>Username</label>
                    {% if user_profile.user %}
                        <input type="text" name="username" value="{{ user_profile.user }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="username" placeholder="Usetname" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="settings-tips">
                    <small>In most cases, you'll be able to change your username back to</small>
                    <br>
                    <small>hinamizawa99 for another 14 days. Learn more</small>
                </div>

                <div class="settings-tips">
                    <label>Website</label>
                    {% if user_profile.website %}
                        <input type="text" name="website" value="{{ user_profile.website }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="website" placeholder="Website" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Bio</label>
                    {% if user_profile.bio %}
                        <textarea name="bio" value="{{ user_profile.bio }}" class="edit-profile-textarea-form"></textarea>
                    {% else %}
                        <textarea name="bio" class="edit-profile-textarea-form"></textarea>
                    {% endif %}
                </div>

                <p>Personal information</p>
                <small>Provide your personal information, even if the account is used for a</small>
                <br>
                <small>business, a pet or something else. This won't be a part of your</small>
                <br>
                <small>public profile.</small>

                <div class="edit-accounts-forms">
                    <label>Email</label>
                    {% if user_profile.email %}
                        <input type="text" name="email" value="{{ user_profile.email }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="email" placeholder="Email" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Phone number</label>
                    {% if user_profile.phone %}
                        <input type="text" name="phone" value="{{ user_profile.phone }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="phone" placeholder="Phone number" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Gender</label>
                    {% if user_profile.gender %}
                        <input type="text" name="gender" value="{{ user_profile.get_gender_display }}" class="edit-profile-forms"/>
                    {% else %}
                        <input type="text" name="gender" placeholder="Gender" class="edit-profile-forms"/>
                    {% endif %}
                </div>

                <div class="edit-accounts-forms">
                    <label>Similar accounts suggestions</label>
                    <input type="text" name="similar-accounts-suggestions" placeholder="" class="edit-profile-forms"/>
                </div>

                <input type="submit" value="submit" name="profile-edit-form" class="edit-submit-button"/> <a href="">Temporarily deactivate my account</a>

            </form>
            
        </center>
    </div>

    <br><br>
</div>

{% endblock %}