<!-- LIST OF CHAT USERS -->
<div class="_abyl">
    {% for user in chats_users %}
        <div class="_abyk">
            <div
                style="position: relative; display: flex; flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
                <div
                    class=" _ab8s _ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm">
                    <div
                        class="_abm4">
                        <a class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                            href="{% url 'open_chat' user %}"
                            role="link"
                            tabindex="0">
                            <div aria-labelledby="f280198e63f4068 f2c9a6892d566f4 f175d5e31e07394 fc436b6f088054"
                                class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p  _ab9_ _aba8 _abcm">
                                <div
                                    class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abbj _abcm">
                                    <div
                                        class="_ab8w  _ab94 _ab96 _ab9g _ab9k _ab9p _abcm">
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"><img
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="{{ user.userprofile.logo.url }}"></span>
                                    </div>
                                </div>
                                <div
                                    class="_ab8w  _ab94 _ab99 _ab9h _ab9m _ab9o _abcm">
                                    <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p _abcm"
                                        id="f2c9a6892d566f4">
                                        <div
                                            class="_aacl _aaco _aacu _aacx _aada">
                                            <div
                                                class="_ab8w  _ab94 _ab97 _ab9f _ab9k _ab9p _abcm">
                                                <div
                                                    class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9q _ab9s _abcm">
                                                    <div
                                                        class="_aacl _aaco _aacu _aacx _aada">
                                                        {{ user.username }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_ab8w  _ab94 _ab99 _ab9f _ab9m _ab9p  _abb- _abcm"
                                        id="f175d5e31e07394">
                                        <div
                                            class="_aacl _aaco _aacu _aacy _aada">
                                            <div
                                                class="_ab8w  _ab94 _ab99 _ab9f _ab9k _ab9p _abcm">
                                                <span
                                                    class="_ab6a">
                                                    <span
                                                        class="_aacl _aaco _aacu _aacy _aad7">
                                                        {{ last_message_dict|get_item:user.id }}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>